/* --------------------------------------------- */
/* BASIC SETUP */
/* --------------------------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #fff;
    color:#555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/* --------------------------------------------- */
/* RESUABLE COMPONENTS */
/* --------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section { padding: 80px 0; }

.box { padding: 1%; }

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ---- HEADINGS ---- */

h1,
h2,
h3,
h4 {
    font-weight: 300;
}

h1 {
    border-bottom: 2px solid #e67e22;
    color: #fff;
    display: inline-block;
    font-size: 240%;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    word-spacing: 4px;
}

h2 {
    color: #fff;
    font-size: 260%;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 40px;
    word-spacing: 4px;
}

h3 {
    font-size: 220%;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-align: center;
    word-spacing: 2px;
}

h3:after {
    background-color: #e67e22;
    content: " ";
    display: block;
    height: 2px;
    margin: 0 auto;
    margin-top: 30px;
    width: 100px;
}

h4 {
    font-size: 110%;
    margin-bottom: 15px;
}

/* ---- PARAGRAPHS ---- */

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

.box p {
    font-size: 90%;
    line-height: 145%;
    margin-bottom: 10px;
}

/* ---- ICONS ---- */

.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

/* ---- BUTTONS ---- */

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active { background-color: #cf6d17; }

.btn-full:hover,
.btn-full:active { border: 1px solid #cf6d17; }

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}

/* --------------------------------------------- */
/* HEADER */
/* --------------------------------------------- */

.skip-link {
    clip: rect(0px, 0px, 0px, 0px) !important;
    clip-path: inset(50%) !important;
    -webkit-clip-path: inset(50%) !important;
    display: block;
    font-size: 90%;
    height: 1px !important;
    margin: 0 !important;
    overflow: hidden !important;
    padding: 10px 15px;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}

.skip-link:focus {
    background-color: #e67e22;
    outline: 3px solid #e67e22;
}

.skip-link:link, .skip-link:visited, .skip-link:hover, .skip-link:active, .skip-link:focus {
    color: #fff;
}

.skip-link:active, .skip-link:focus {
    clip: auto !important;
    clip-path: none !important;
    -webkit-clip-path: none !important;
    height: auto !important;
    margin: inherit !important;
    overflow: visible !important;
    position: static !important;
    white-space: inherit !important;
    width: auto !important;
}

header {
    background-image: linear-gradient(rgba(0, 29, 0, 0.7), rgba(0, 29, 0, 0.7)),  url(img/beach.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.page-header {
    height: 200px;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active { border-bottom: 2px solid #e67e22; }

/* --------------------------------------------- */
/* FEATURES */
/* --------------------------------------------- */

.section-features .long-copy { margin-bottom: 30px; }

/* --------------------------------------------- */
/* WHAT */
/* --------------------------------------------- */

.section-what { background-color: #f4f4f4; }

.value-box { width: 60%; }

.value-item { margin-bottom: 40px; }

.value-item:last-of-type { text-align: center; }

.value-item div {
    border: 2px solid #e67e22;
    border-radius: 50%;
    color: #e67e22;
    display: inline-block;
    float: left;
    font-size: 150%;
    height: 50px;
    margin-right: 25px;
    padding: 5px;
    text-align: center;
    width: 50px;
}

.value-item p {
    padding-top: 5px;
    padding-bottom: 5px;
}

.email-us { display: inline-block; }

.email-us a {
    background-color: #2daeb7;
    color:#fff;
    text-decoration: none;
    border-radius: 3px;
    font-size: 90%;
    font-weight: 400;
    padding: 8px;
}

.email-us a:link,
.email-us a:visited {
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.email-us a:hover,
.email-us a:active { border-bottom: 2px solid #e67e22; }

/* --------------------------------------------- */
/* FOOTER */
/* --------------------------------------------- */

footer {
    background-color: #001d00;
    padding: 40px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child { margin-right: 0; }

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active,
.social-links li a:hover,
.social-links li a:active { color: #ddd; }

.social-links li a:link i,
.social-links li a:visited i { font-size: 160%; }

.ion-social-github,
.ion-social-twitter,
.ion-email { transition: color 0.2s; }

.ion-social-github:hover { color: #fff; }

.ion-social-twitter:hover { color: #00aced; }

.ion-email:hover { color: #fff; }

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}
